.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content-container{
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.footer{
  margin: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
}
form {
    margin-left: 0px !important;
}
.averagesBtn{
  width: 100%;
  text-align: right;
}
.submitBtn{
  margin-top: 10px !important;
}
.main-container-msg{
  width: 100%;
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title1{
  font-size: 5rem;
}
.title2{
  font-size: 4rem;
}
